
<app-login></app-login>
<app-create-volunteer></app-create-volunteer>
<app-create-event></app-create-event>
<app-assign-task></app-assign-task>




<br>

<nav><a routerLink="/login">Login</a></nav>
<nav><a routerLink="/signup-volunteer">Create New Account (Volunteer)</a></nav>
<nav><a routerLink="/signup-organiser">Create New Account (Organiser)</a></nav>
<nav><a routerLink="/create-event">Create New Event</a></nav>
<nav><a routerLink="/event-registration">Register to Volunteer for an Event</a></nav>
<nav><a routerLink="/volunteer-unregister-event">Unregister Volunteer from event</a></nav>

<router-outlet></router-outlet>